body
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../imgs/blur-hospital-background-free-photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.cover
{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position:absolute;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
}

h1
{
    text-align: center;
    padding-top: 120px;
    color: white;
}

.boxes
{
    margin: 100px 0;
}

.box
{
    transition: transform .2s;
    border-radius: 5px;
    height: 220px;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 1;
    border-radius: 5px;
    font-size: 27px;
    box-shadow: 0 0 40px #EFF1F7;
    transition: 0.5s;
}

.box:hover
{
    transform: scale(1.1);
    transition: .3s ease;
    background-color: #fff;
    color: #2E4765;
    font-size: 29px;
    font-weight: bold;
}

.box i
{
    font-size: 40px;
    margin-bottom: 10px;
}

.box a
{
    color: white;
}

.box:hover a
{
    color: #2E4765;
    text-decoration: none;
}

.close
{
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.close i
{
    color: #fff;
    font-size: 50px;
}